[Unit]
Description=Gunicorn instance to serve portfolio backend
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/portfolio/backend/portfolio_backend
EnvironmentFile=/var/www/portfolio/backend/.env
ExecStart=/var/www/portfolio/backend/.venv/bin/gunicorn portfolio_backend.wsgi:application --bind 0.0.0.0:8000
Restart=always

[Install]
WantedBy=multi-user.target
