[Unit]
Description=Portfolio Backend Service
After=network.target

[Service]
User=your_username
Group=your_username
WorkingDirectory=/path/to/your/backend
ExecStart=/path/to/your/backend/.venv/bin/uv run -m gunicorn portfolio_backend.wsgi:application --bind 0.0.0.0:8000 --workers 3
Restart=on-failure
Environment="DJANGO_SETTINGS_MODULE=portfolio_backend.settings_prod"

[Install]
WantedBy=multi-user.target